@accent-color: #ff8000;

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	color: #333;
	margin: 0;
	border-top: 5px @accent-color solid;
}

.main {
	width: 40em;
	margin: 3em auto;
}

.main p {
	color: #555;
}