@import (inline) "normalize.css";
@import (inline) "icons.css";

@accent-color: #ff8000;
@font-color: #5c5c5c;
@dark-font: #333;

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-family: 'Bitter', serif;
	font-size: 1.1em;
	line-height: 1.4;
	color: @font-color;
	background-color: white;
	margin: 0;
	border-top: 5px @accent-color solid;
/* 	border-bottom: 2px @font-color solid;
	margin-bottom: 1em; */
}

h1, h2, h3 {
	color: @dark-font;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

div {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

b {color:@dark-font;}

ul {
	padding-left: 1em;
	margin: -1em 0 1.4em;
	li {
		margin-bottom: .4em;
	}
}

a {
	color: #4c9ae6;
	text-decoration: none;
	//font-weight: bold;
}

a:visited {
	color: #8b6fbb ;
	font-weight: normal;
}

a:hover {
	border-bottom: 1px @font-color dotted;
}


.main p {
	margin: 0 0 1.2em;
}

.locator {
	width: 616px;
	height: 70px;
	background: url('/img/locators.png');
	background-position: 0% 30%;
	border: 1px lighten(@font-color, 30%) solid;
	margin-bottom: .4em;
}

.dublin {
	width: 616px;
	height: 45px;
/* 	background: url('/img/dublin.jpg');
	background-size: 533px 90px; */
	background: url('/img/dublin-slice.jpg');
	background-position: 60% 0%;
	background-size: 1600px 45px;
	//background-size: 533px 90px;
	border: 1px lighten(@font-color, 30%) solid;
	margin-bottom: .4em;
}

.icon-logo {
	margin: .5em;
	margin-bottom: 0;
	padding: 0;
	padding-left: 200px;
	//color: white;
	text-indent: -9999px;
}


//screens wider than 900px, ie not mobile
@media only screen and (min-width : 900px) {
	.main {
		width: 35em;
		margin: 0 auto;
		padding-bottom: 3em;
	}

}

//mobile
@media only screen and (max-width : 899px) {
	body {
		font-size: 1em;
	}
	.main {
		padding: 10px;
		padding-bottom: 3em;
	}
	.icon-logo {
		margin: 10px;
		margin-bottom: -10px;
		background-size: 110px;
		width: 100%;
		height: 32px;
		//background-position: 10px 0px;
	}
	.locator {
		width: 100%;
		height: 45px;
		background-size: 308px 45px;
	}
	
}
