---
layout: default
title: 'infomongo: the online home of john phillips'
description: The portfolio site of John Phillips, a UX designer located in Denver, CO.
---

<div class="main">
  
  {% capture intro_text %}
    {% include_relative content/intro.md %}
  {% endcapture %}
  {{ intro_text | markdownify }}
  
</div>

<div class="img sp1 full mk-70"></div>

<div class="main">
  {% capture pulse_text %}
    {% include_relative content/pulse.md %}
  {% endcapture %}
  {{ pulse_text | markdownify }}
</div>

<div class="img sp2 full mk-70"></div>

<div class="main">
  {% capture workbench_text %}
    {% include_relative content/workbench.md %}
  {% endcapture %}
  {{ workbench_text | markdownify }}
</div>

<div class="img pw1 large"></div>

<div class="pictures">
	<div class="window">
	  <div class="workbench images">
	    <div class="img pw2"></div>
	    <div class="img pw3"></div>
	    <div class="img pw4"></div>
	    <div class="img pw5"></div>
	    <div class="img pw6"></div>
	    <div class="img pw7"></div>
	  </div>
	</div>
</div>

<div class="main">
  {% capture locators_text %}
    {% include_relative content/locators.md %}
  {% endcapture %}
  {{ locators_text | markdownify }}
</div>

<div class="pictures">
	<div class="window">
	  <div class="smash images">
	    <div class="img mob smash1"></div>
	    <div class="img mob smash3"></div>
	    <div class="img mob smash4"></div>
	    <!-- <div class="img mob smash5"></div> -->
	    
	    <div class="img smash1"></div>
	    <div class="img smash2"></div>
	    <div class="img smash3"></div>
	  </div>
	</div>
	<div class="window">
	  <div class="lots images">
	    <div class="img mob lots1"></div>
	    <div class="img mob lots3"></div>
	    <div class="img mob lots4"></div>
	    <div class="img mob lots5"></div>
	    <!-- <div class="img mob smash5"></div> -->
	    
	    <div class="img lots1"></div>
	    <div class="img lots2"></div>
	    <div class="img lots3"></div>
	    <div class="img lots4"></div>
	  </div>
	</div>
	  
</div>

<div class="main">
  {% capture branded_locators_text %}
    {% include_relative content/branded_locators.md %}
  {% endcapture %}
  {{ branded_locators_text | markdownify }}
</div>

  <div class="pictures">
	  <div class="window">
	    <div class="nw images">
	      <div class="img mob nw1"></div>
	      <div class="img mob nw2"></div>
	      <div class="img mob nw3"></div>
	      <!-- <div class="img mob smash5"></div> -->
	      
	      <div class="img nw1"></div>
	      <div class="img nw2"></div>
	      <div class="img nw3"></div>
	      <div class="img nw4"></div>
	      <div class="img nw8"></div>
	    </div>
	  </div>
	</div>	
	
<div class="main">
	{% capture scout_text %}
	  {% include_relative content/scout.md %}
	{% endcapture %}
	{{ scout_text | markdownify }}
</div>

<div class="img loc-scout large"></div>

<div class="main roi">
  {% capture calc_text %}
    {% include_relative content/calc.md %}
  {% endcapture %}
  {{ calc_text | markdownify }}
</div>

<div class="img roi-calc large"></div>

<div class="main last">
  ©2017 infomongo
</div>

<script src="/js/jquery-1.11.1.min.js"></script>

<script>

  {% include index.js %}

</script>
	
