

@font-face {
	font-family: 'aleoregular';
	src: url('/fonts/aleo-regular-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleobold';
	src: url('/fonts/aleo-bold-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleoitalic';
	src: url('/fonts/aleo-italic-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleobolditalic';
	src: url('/fonts/aleo-bolditalic-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleolight';
	src: url('/fonts/aleo-light-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleolightitalic';
	src: url('/fonts/aleo-lightitalic-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


// JUNCTION =========================================================

@font-face {
	font-family: 'junctionbold';
	src: url('/fonts/junction-bold-webfont.woff2') format('woff2'),
		 url('/fonts/junction-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'junctionlight';
	src: url('/fonts/junction-light-webfont.woff2') format('woff2'),
		 url('/fonts/junction-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'junctionregular';
	src: url('/fonts/junction-regular-webfont.woff2') format('woff2'),
		 url('/fonts/junction-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

// MERRIWEATHER =========================================================

@font-face {
    font-family: 'merriweather_lightregular';
    src: url('/fonts/merriweather_light-webfont.woff2') format('woff2'),
         url('/fonts/merriweather_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'merriweatherregular';
	src: url('/fonts/merriweather-regular-webfont.woff2') format('woff2'),
		 url('/fonts/merriweather-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
    font-family: 'merriweatherbold';
    src: url('/fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'merriweatherultrabold';
	src: url('/fonts/merriweather_ultrabold-webfont.woff2') format('woff2'),
		 url('/fonts/merriweather_ultrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'merriweatheritalic';
	src: url('/fonts/merriweather-italic-webfont.woff2') format('woff2'),
		 url('/fonts/merriweather-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
