

@font-face {
	font-family: 'aleoregular';
	src: url('/fonts/aleo-regular-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleobold';
	src: url('/fonts/aleo-bold-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleoitalic';
	src: url('/fonts/aleo-italic-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleobolditalic';
	src: url('/fonts/aleo-bolditalic-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleolight';
	src: url('/fonts/aleo-light-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleolightitalic';
	src: url('/fonts/aleo-lightitalic-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


// JUNCTION =========================================================

@font-face {
	font-family: 'junctionbold';
	src: url('/fonts/junction-bold-webfont.woff2') format('woff2'),
		 url('/fonts/junction-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'junctionlight';
	src: url('/fonts/junction-light-webfont.woff2') format('woff2'),
		 url('/fonts/junction-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'junctionregular';
	src: url('/fonts/junction-regular-webfont.woff2') format('woff2'),
		 url('/fonts/junction-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

// MERRIWEATHER =========================================================

@font-face {
	font-family: 'merriweatherblack';
	src: url('/fonts/merriweather-black-webfont.woff2') format('woff2'),
		 url('/fonts/merriweather-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'merriweatherblack_italic';
	src: url('/fonts/merriweather-blackitalic-webfont.woff2') format('woff2'),
		 url('/fonts/merriweather-blackitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'merriweatherbold';
	src: url('/fonts/merriweather-bold-webfont.woff2') format('woff2'),
		 url('/fonts/merriweather-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'merriweatherbold_italic';
	src: url('/fonts/merriweather-bolditalic-webfont.woff2') format('woff2'),
		 url('/fonts/merriweather-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'merriweatheritalic';
	src: url('/fonts/merriweather-italic-webfont.woff2') format('woff2'),
		 url('/fonts/merriweather-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'merriweatherlight';
	src: url('/fonts/merriweather-light-webfont.woff2') format('woff2'),
		 url('/fonts/merriweather-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'merriweatherlight_italic';
	src: url('/fonts/merriweather-lightitalic-webfont.woff2') format('woff2'),
		 url('/fonts/merriweather-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'merriweatherregular';
	src: url('/fonts/merriweather-regular-webfont.woff2') format('woff2'),
		 url('/fonts/merriweather-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

// LEAGUE GOTHIC =========================================================


@font-face {
	font-family: 'league_gothiccondensed_italic';
	src: url('/fonts/leaguegothic-condenseditalic-webfont.woff2') format('woff2'),
		 url('/fonts/leaguegothic-condenseditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'league_gothicCnRg';
	src: url('/fonts/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
		 url('/fonts/leaguegothic-condensedregular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'league_gothicitalic';
	src: url('/fonts/leaguegothic-italic-webfont.woff2') format('woff2'),
		 url('/fonts/leaguegothic-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'league_gothicregular';
	src: url('/fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
		 url('/fonts/leaguegothic-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

// ROBOTO CONDENSED =========================================================

@font-face {
	font-family: 'roboto_condensedbold';
	src: url('/fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
		 url('/fonts/robotocondensed-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


// ARCHIVO NARROW =========================================================

@font-face {
	font-family: 'archivo_narrowbold';
	src: url('/fonts/archivonarrow-bold-webfont.woff2') format('woff2'),
		 url('/fonts/archivonarrow-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'archivo_narrowbold_italic';
	src: url('/fonts/archivonarrow-bolditalic-webfont.woff2') format('woff2'),
		 url('/fonts/archivonarrow-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'archivo_narrowitalic';
	src: url('/fonts/archivonarrow-italic-webfont.woff2') format('woff2'),
		 url('/fonts/archivonarrow-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'archivo_narrowmedium';
	src: url('/fonts/archivonarrow-medium-webfont.woff2') format('woff2'),
		 url('/fonts/archivonarrow-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'archivo_narrowmedium_italic';
	src: url('/fonts/archivonarrow-mediumitalic-webfont.woff2') format('woff2'),
		 url('/fonts/archivonarrow-mediumitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'archivo_narrowregular';
	src: url('/fonts/archivonarrow-regular-webfont.woff2') format('woff2'),
		 url('/fonts/archivonarrow-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'archivo_narrowsemibold';
	src: url('/fonts/archivonarrow-semibold-webfont.woff2') format('woff2'),
		 url('/fonts/archivonarrow-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'archivo_narrowsemibold_italic';
	src: url('/fonts/archivonarrow-semibolditalic-webfont.woff2') format('woff2'),
		 url('/fonts/archivonarrow-semibolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

