$accent-color: #ff8000;
$accent-dark: #CC5500;
$font-color: #5c5c5c;
$dark-font: #4D4B4B;
$border-color: #b5b4b6;

@font-face {
	font-family: 'montserratextrabold';
	src: url('/fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
		 url('/fonts/montserrat-extrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleoregular';
	src: url('/fonts/aleo-regular-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleobold';
	src: url('/fonts/aleo-bold-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'aleoitalic';
	src: url('/fonts/aleo-italic-webfont.woff2') format('woff2'),
		 url('/fonts/aleo-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

$base-family: 'aleoregular', Georgia, serif;
$bold-family: 'aleobold', Georgia, serif;
$italic-family: 'aleoitalic', Georgia, serif;
$head-family: 'montserratextrabold', sans-serif;

body {
	font-family: $base-family;
	font-size: percentage(18/16);
	line-height: 1.35;
	color: $font-color;
	background-color: white;
	margin: 0;
	border-top: 5px $accent-color solid;
	border-bottom: 50px $dark-font solid;
	position: relative;
}

b, strong {
	font-family: $bold-family;
}

i, em {
	font-family: $italic-family;
}

.hidden {
	display: none;
}


.copyright {
	font-size: 80%;
	color: white;
	position: absolute;
	bottom: -34px;
	left: 10px;
}

h1, h2, h3, h4 {
	color: $dark-font;
	margin: 0;
	font-family: $head-family;
	font-weight: normal;
	line-height: 1.2;
}

h1, #essays {
	color: $accent-color;
	text-transform: uppercase;
}

#essays {
	position: absolute;
	top: .7em;
	right: 1em;
}


h3 {
	//margin-bottom: .6em;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

hr {
	height: 1px;
	color: lighten($font-color, 25%);
	background:  lighten($font-color, 25%);
	//font-size: 0;
	border: 0;
	margin: 1.2em 0;
}


.byline, .date, .caption {
	color: lighten($font-color, 25%);
}

.caption {
	font-size: percentage(15/18);
	text-align: center;
}

.date {
	white-space: nowrap;
	display: block;
}

code {
	color: darken($accent-color, 20%);
}

blockquote {
	font-size: percentage(22/18);
	border-left: 3px $font-color solid;
	margin: .25em 0 1.25em;
	padding-left: 1.25em;
}

ul, ol {
	padding-left: 1em;
	margin: -.5em 0 1.4em;
	li {
		margin-bottom: .4em;
	}
}

a {
	color: $accent-color;
	text-decoration: none;
}

a:visited {
	color: $accent-dark ;
	font-weight: normal;
	border-bottom: 1px $accent-dark dotted;
	&.header {
		color: $accent-color;
	}
}

a:hover {
	border-bottom: 1px $accent-color dotted;
}

p {
	margin: .25em 0 1.25em;
}



.img-switch{
	display: block;
	//border: 1px #000 solid;
	overflow: hidden;
	
	transition: all ease-out 0.7s;
	max-height: 1000px;
	opacity: 1;
	
	&.slide-up {
		//height: 10px;
		max-height: 0px;
		opacity: 0;
	}
	
	&:after {
		content: "click for more images";
		display: block;
		text-align: center;
		font-family: $italic-family;
		color: lighten($font-color, 20%);
		font-size: 90%;
		margin-bottom: 1em;
	}
	
	&:hover {
		border-bottom: none;
	}
	
	// img {
	// 	transition: max-height ease-out 0.7s;
	// 	max-height: 1000px;
	// 	&.slide-up {
	// 		max-height: 0px;
	// 	}
	// }

}

img {
	border: 1px $border-color solid;
	margin-bottom: 1.2em;
	&.center {
		display: block;
		margin: 1em auto;
	}
	&.lrg {
		max-width: 70%;
	}
	&.full-width {
		max-width: 100%;
	}
	&.no-border {
		border: none;
		margin-bottom: .25em;
	}

}

// .side-scroll {
//     margin: 1em 20px;
//     overflow:auto;
//     white-space: nowrap;
//     img {
//         margin-right: 10px;
//         vertical-align: top;
//         &.landscape {
//             width: 500px;
//         }
//         &.portrait {
//             width: 244px;
//         }
//     }
// }


.promote {
	padding: 1px;
	background-color: $accent-color;
	color: #333;
	.main {
		margin: 1.5em auto;
	}
	span {
		//font-weight: bold;
		font-family: $bold-family;
	}
	a, a:visited {
		font-family: $bold-family;
		color: #333;
		border-bottom: 1px #333 dotted;
	}
}

.main.essays, .main.fill {
	min-height: 80vh;
	h3 {
		//margin-bottom: .25em;
	}
}

.big {
	font-size: percentage(24/18);
	min-height: 80vh;
	.label {
		margin-left: .25em;
	}
	p {
		font-size: percentage(18/24);
	}
	&.temp{
		font-size: percentage(28/18);
	}
}

#celsius {
	-webkit-appearance: none;
	border: 1px $border-color solid;
	border-radius: 0;
	padding: 2px;
	margin-bottom: .5em;
}

#celsius {
	display: inline-block;
	width: 2em;
	text-align: right;
}

.temp {
	.arrow {
		padding: 0 1em;
	}
}

.tip-calc {
	input {
		-webkit-appearance: none;
		border: 1px $border-color solid;
		border-radius: 0;
		padding: 2px;
		width: 4em;
	}
	#percent {
		display: inline-block;
		margin-top: .5em;
	}
	#tip, #total {
		display: inline-block;
		width: 4em;
	}
	.line {
		margin-bottom: .25em;
	}
}

#date-convert {
	display: flex;
	.current-date, .new-date {
		width: 50%;
		padding: 10px;
		text-align: center;
	}
}

#date-convert{
	min-height: 10em;
	
	#current-month, #new-month  {
		margin: .5em 0 0;
	}
	#current-day, #new-day {
		display: block;
		max-width: 4em;
		font-size: percentage(28/18);
		text-align: center;
		margin: .25em auto;
	}
	.error {
		color: $accent-color;
	}
}


//mobile
@media only screen and (max-width : 799px) {
	body {
		font-size: 1em;
		//margin: 0 10px
	}
	
	h1.logo {
		font-size: 1.4em;
		margin: 10px;
	}
	
	
	.main, .mob-pad {
		padding: 0 10px;
		//padding-bottom: 3em;
	}
	
	.main {
		max-width: 30em;
		margin: 0 auto;
	}
	
	blockquote {
		font-size: percentage(18/16);
	}
	
	img {
		&.center {
			//display: block;
			//margin: 0 a;
		}
		&.lrg {
			max-width: 100%;
		}
		&.retina {
			max-width: 100%;
		}
	}
	
	.side-scroll {
		margin: 1em 10px;
		img.landscape {
			max-width: 75%;
		}
		img.portrait {
			max-width: 38%;
		}
	}
	
	.promote {
		span {
			display: block;
		}
		a {
			white-space: nowrap;
		}
	}
	
	.min-height{
		min-height: 50vh;
	}

}


// mobile landscape
@media (min-width: 500px) {
	img {
		&.full-width {
			max-width: 120%;
			margin-left: -10%;
		}
		&.wrap-right {
			float: left;
			margin-right: 1.2em;
		}
	}

	.min-height{
		min-height: 110vh;
	}
}


//screens wider than 800px, ie not mobile
@media only screen and (min-width : 800px) {

	h1.logo {
		margin: 1em;
	}
	#essays {
		top:   2em;
		right: 2em;
	}

	.main {
		width: 38em;
		margin: 3em auto;
	}

	img {
		&.lrg {
			min-width: 670px;
		}

		&.no-offset {
			max-width: 100%;
			margin-left: 0;
		}
		&.retina {
			width: 50%;
		}

	}

	.min-height{
		min-height: 85vh;
	}

}
