$accent-color: #ff8000;
$accent-dark: #CC5500;
$font-color: #5c5c5c;
$dark-font: #333;
$border-color: #b5b4b6;

body {
	font-family: 'Bitter', Georgia, serif;
	font-size: 1.1em;
	line-height: 1.4;
	color: $font-color;
	background-color: white;
	margin: 0;
	border-top: 5px $accent-color solid;
	border-bottom: 50px $dark-font solid;
}

.copyright {
	font-size: 80%;
}

h1, h2, h3 {
	color: $dark-font;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: $accent-color;
	text-transform: uppercase;
}


div {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

b {color:$dark-font;}

ul {
	padding-left: 1em;
	margin: -.5em 0 1.4em;
	li {
		margin-bottom: .4em;
	}
}

a {
	color: $accent-color;
	text-decoration: none;
}

a:visited {
	color: $accent-dark ;
	font-weight: normal;
	border-bottom: 1px $accent-dark dotted;
}

a:hover {
	border-bottom: 1px $accent-color dotted;
}

p {
	margin: 0 0 1.2em;
}

img {
	border: 1px $border-color solid;
	&.center {
		display: block;
		margin: 1em auto;
	}
	&.lrg {
		max-width: 70%;
	}
}

.side-scroll {
	margin: 1em 20px;
	overflow:auto;
	white-space: nowrap;
	img {
		margin-right: 10px;
		vertical-align: top;
		&.landscape {
			width: 500px;
		}
		&.portrait {
			width: 244px;
		}
	}
}

//screens wider than 800px, ie not mobile
@media only screen and (min-width : 800px) {

	h1.logo {
		margin: 1em;
	}
	
	.main {
		width: 38em;
		margin: 3em auto;
	}
	
	img {
		&.lrg {
			min-width: 670px;
		}
	}
	
	.copyright {
		margin: 5em 1em 2em;
	}

}

//mobile
@media only screen and (max-width : 799px) {
	body {
		font-size: 1em;
		//margin: 0 10px
	}
	
	h1.logo {
		font-size: 1.4em;
		margin: 10px;
	}
	
	.main, .mob-pad {
		padding: 0 10px;
		//padding-bottom: 3em;
	}
	
	img {
		&.center {
			//display: block;
			//margin: 0 a;
		}
		&.lrg {
			max-width: 100%;
		}
	}
	
	.side-scroll {
		margin: 1em 10px;
		img.landscape {
			max-width: 75%;
		}
		img.portrait {
			max-width: 38%;
		}
	}
	
	.copyright {
		margin: 10px;
	}

}
