@import "variables";
@import "orange";
@import "fonts";

* { box-sizing: border-box;}

body {
	font-family: 'pt_sansregular', sans-serif;
	font-size: percentage(18/16);
	line-height: 1.4;
	background-color: white;
	color: $text-color;
	position: relative;
	// display: flex;
	// min-height: 100vh;
	// flex-direction: column;
	
}

//uncomment the stuff in body and main to pin footer to bottom of window
main {
	//flex: 1 1 0;
	padding: 0 1rem;
	display: block;
}

.hide-mobile { display: none; }

em, i {
	font-family: 'pt_sansitalic', sans-serif;
	font-style: normal;
}
strong, b, th, label, .subhead {
	font-family: 'pt_sansbold', sans-serif;
}

h1, h2, h3, h4, nav {
	font-family: 'bitterbold', serif;
	font-weight: normal;

}

h1, h2, h3, h4 {
	line-height: 1.2;
	margin: 1.7rem 0 .3rem;
}

h1 { font-size: percentage(32/20);}
h2 { font-size: percentage(28/20);}
h3 { font-size: percentage(24/20);}

.hidden { display: none;}
.transparent {
	opacity: 0;
	transition: all ease-out 0.3s;
}

p {margin: 0 0 1rem; }
pre { overflow: auto;}
code { font-size: 1rem; }
ol, ul { padding-left: 1rem; }

header {
	padding: 2rem 0 3rem;
	font-size: percentage(16/18);
	// fix a bug in chrome, subpixel anti aliasing changes color of colored text
	-webkit-font-smoothing: antialiased;
}

section {
	h2:first-of-type {
		//color: red;
		margin-top: 0;
	}
}

.text {
	max-width: 44rem;
	//margin: 0 auto;
}

.top-border { border-top: 1px $border-color solid; padding-top: 2rem;}
.top-margin { margin-top: 2rem; }
.bottom-margin { margin-bottom: 2rem; }
.center { text-align: center; }

img {
	border: 1px $border-color solid;
	margin: 1rem 0;
	&.full-width {
		max-width: 100%;
		display: block;
	}
	&.retina {
		max-width: 100%;
	}
	&.no-border {
		border: none;
	}
	&.shrink {
		width: 40%;
		max-width: 15rem;
	}
	&.float {
		float: left;
		margin: 0 1rem 1rem 0;
	}
}

form {
	overflow: auto;
	label {
		display: block;
	}
	input[type=text], textarea{
		width: 100%;
		padding: .25rem;
		border: 1px $border-color solid;
		margin-bottom: .5rem;
		border-radius: 3px;
		-webkit-appearance: none;
	}
	textarea {
		display: block;
		height: 8rem;
	}
	input[type=submit]{
		float: right;
	}
}

footer {
	padding: 3rem 1rem 1rem;
	div {
		border: 1px $border-color solid;
		border-left: none;
		border-right: none;
		padding: 2rem 0;
		font-size: 80%;
	}
	span, a {
		margin-right: 1rem;
		white-space: nowrap;
	}
	a:last-of-type {
		margin-right: 5px;
	}

}

@media only screen and (min-width : 700px) {
	body {
		font-size: percentage(20/16);
	}
}


@media only screen and (min-width : 1000px) {
	header {
		padding: 5rem 0 7rem;
	}
	main, footer {
		width: 1000px;
		margin: 0 auto;
	}
	ol, ul { padding-left: 0; }
	section {
		padding: 0;
		//max-width: 1000px;
		margin: 0 auto;
	}
	img {
		&.retina {
			width: 50%;
		}
	}
}

@media only screen and (max-width : 350px) {
	header {
		font-size: percentage(13/18);
	}
}

