$accent-color: #ff8000;

a {
	color: $link-color;
	transition: color ease-out 0.3s;
	text-decoration: none;
	&:visited {
	   color: $visited-link-color;
	}
	&:hover, &:focus {
		color: $link-color;
	}
}

a.button, input[type=submit] {
	display: inline-block;
	background-color: $accent-color;
	color: white;
	border: none;
	border-radius: 3em;
	padding: .5em 1em;
	text-decoration: none;
	white-space: nowrap;
	&:focus {
		background-color: black;
	}
}



@keyframes grow {
  0%, 100%   { transform: scale(1);}
  60% { transform: scale(1.25);}
}

.error { color: $accent-color;}
input.error, textarea.error {
	border: 1px $accent-color solid !important;
}
:focus { 
	outline: $accent-color solid 1px; 
	transition: all ease-out 0.3s;
}
a:focus, input[type=submit] { outline: none;}
a:focus img { border: 1px $accent-color solid !important}

body:focus {
	outline: none;
}

@media only screen and (min-width : 1000px) {
	header {
		
	}
}
