@import "variables";

label{
	display: block;
	color: $text-color-dark;
}

input[type=text], textarea {
	width: 100%;
	padding: .25rem;
	border: 1px $border-color solid;
	//margin-bottom: .5rem;
	border-radius: 3px;
	-webkit-appearance: none;
	&.error {
		border: 1px $main-color-border solid;
	}
	&:focus {
		outline: none;
		border: 1px $link-color solid;
	}
}


select {
	//display: inline-block;
	font-size: calc(16px + 0.25vw);
	border: 1px $border-color solid;
	border-radius: 3px;
	height: 1.7rem;
	&:focus {
		outline: none;
		border: 1px $link-color solid;
	}	

}

a.button, input[type=submit], button {
	display: inline-block;
	background-color: $main-color;
	color: white;
	border: none;
	border-radius: 3em;
	padding: .5em 1em;
	line-height: 1.15;
	text-decoration: none;
	white-space: nowrap;
	transition: all ease-out 0.3s;
	&:focus {
		outline: none;
		background-color: black;
	}
}

.increment {
	background-color: $link-color;
	color: white;
	border: none;
	line-height: 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	margin: 0 1rem;
	&.plus {
		margin-left: .25rem;
	}
	&.minus {
		margin-right: .25rem;
	}
	&:focus {
		outline: 1px dotted $link-color;
	}
}

p.help, p.error {
	margin-top: 0;
	font-size: .8rem;
}

.hidden {display: none;}
.help { color: $text-color-lite;}
.error { color: $main-color;}


