@import "variables";

header {
	
	nav {
		border-top: 5px $main-color solid;
		// border-bottom: 2px $main-color solid;
		// background-image: url('/img/mca-tara-donovan-3.jpg');
		// background-size: cover;
		
		padding: .5rem;
		a {
			padding: 2px;
			margin-right: 1rem;
			$color: link-color;
			
			&:visited {
				color: $main-color;
			}
			&:hover {
			}
			&:focus {
			}
		}
	}
}

.home .work, .portfolio .work, .writing .posts, .about a.about {
	color: $dark-section-color;
	font-weight: 800;	
}

@media only screen and (min-width: 1161px) {
	header {
		nav {
			padding-left: 0;
		}
	}
}