@import "variables";
@import "forms";


.cta {
	margin-bottom: 1.5rem;
	//overflow: scroll;
	display: flex;
	align-items: center;
	//justify-content: space-between;
	h2 {
		margin: 0;
		font-size: 1.25rem;
		margin-right: 1rem;
	}
	.button {
		min-width: 6rem;
		text-align: center;
	}
}

li {
	max-width: 33rem;
}

.images {
	img {
		max-width: 100%;
	}
	a strong {
		display: block;
	}
}

.meta {
	margin-bottom: 1rem;
}


@media only screen and (min-width  : 760px) {
	.group {
		display: flex;
		justify-content: center;
	}
	.intro {
		padding-top: .7rem;
		padding-right: 1rem;
		max-width: 16rem;	
	}
	.images {
		padding-right: 3rem;
		img {
			width: 550px;
		}
	}
}

@media only screen and (max-width  : 759px) {
	.group {
		display: flex;
		flex-direction: column;
	}
	.intro {
		order: 1;
	}
	.images {
		order: 2;
	}

}