$accent-color: #ff8000;
$lite-orange: desaturate(lighten($accent-color, 30%), 5%);

.home.header {
	background-color: $accent-color;
	color: $lite-orange;
	text-align: center;
	padding: 2em 0;
	h1 {
		margin: 0;
		text-transform: uppercase;
		color: white;
	}
	.about {
		//font-size: 120%;
		font-style: italic;
			&:before, &:after {
			content: '~';
		}
	}
	nav {
		margin-top: 1em;
		a {
			color: white;
			//text-decoration: underline;
			white-space: nowrap;
		}
	}
}

body {
	

}

// mobile don't do paralax scrolling, so we put the image in the window section on mobile
.window {
	height: 0;
	padding: 0;
}


@media only screen and (min-width : 1000px) {
	.home.header {
		padding: 2em 0;
	}
	.window {
		background-image: url('/img/home/smr-bg.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		background-attachment: fixed;
		padding-top: 20%;
	}
}

@media only screen and (min-width : 1100px) {
	.window {
		background-position: 0 -5vw;
	}
}