@import "variables";

img{
	&.full-width {
		max-width: 100%;
		display: block;
	}
	&.retina, &.shrink, &.inline {
		max-width: 100%;
	}
	&.border {
		border: 1px $border-color solid;
	}
	&.float {
		float: left;
		margin: 0 .5rem .5rem 0;
	}
	&.round {
		border-radius: 50%;
	}
	&.rounded {
		border-radius: 10%;
	}
}

img.center {
	display: block;
	margin: 0 auto;
}


@media only screen and (min-width: $breakpoint-sm) {
	img{
		&.full-width {
			margin: 0 auto;
		}
		&.no-offset {
			margin: 0;
			max-width: 100%;
		}
		&.retina, &.shrink {
			// transform: scale(.5);
		}
		&.about {
			max-width: 250px;
		}
		&.inline {
			display: inline-block;
			margin: 0 1rem 1rem 0;
		}
	}

}


// from https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}