@import "variables";

img{
	&.full-width {
		max-width: 100%;
		display: block;
	}
	&.retina, &.shrink, &.inline {
		max-width: 100%;
	}
	&.border {
		border: 1px $border-color solid;
	}
	&.float {
		float: left;
		margin: 0 .5rem .5rem 0;
	}
	&.about {
		max-width: 40%;
		float: right;
		margin: 1rem 0 .5rem .5rem;
		border-radius: 5%;
	}
}

img.center {
	display: block;
	margin: 0 auto;
}

@media only screen and ($breakpoint-sm) {
	img{
		&.full-width {
			margin: 0 auto;
		}
		&.no-offset {
			margin: 0;
			max-width: 100%;
		}
		&.retina, &.shrink {
			// transform: scale(.5);
		}
		&.about {
			max-width: 250px;
		}
		&.inline {
			display: inline-block;
			margin: 0 1rem 1rem 0;
		}
	}

}