@import "variables";
@import "forms";

textarea {
	height: 6rem;
}

.type, .rate, .total {
	
}
.type {
	display: inline-block;
	min-width: 9rem;
}
.total {
	display: block;
	color: $text-color-lite;
	// padding-left: 9rem;
	margin-bottom: .25rem
}

@media only screen and (min-width : 500px) {
	#contact {
		//width: 30vw;
		float: right;
		padding-left: 2rem;
	}
	.total {
		padding-left: 9.2rem;
	}
}


@media only screen and (max-width : 499px) {
	.reorder {
		display: flex;
		flex-direction: column;
	}
	#contact {
		order: 2;
	}
}