* { box-sizing: border-box;}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 1 0;
	//background-color: white;
}

header, main, footer,  {
	width: 100%;
}

section {
	padding: 1rem 3vw;
	h1:first-of-type {
		margin-top: 0;
	}
}

.wrap {
	padding: 0 3vw;
}



@media only screen and (min-width  : 800px) {
	.wrap {
		padding: 0 6vw;
	}
	section {
		padding: 1rem 6vw;
	}
}

@media only screen and (min-width : 1050px) {
	.wrap {
			padding: 0 10vw;
	}
	section {
		padding: 1rem 10vw;
	}
}

@media only screen and (min-width : 1200px) {
	.wrap {
			padding: 0 15vw;
	}
	section {
		padding: 1rem 15vw;
	}
}


// @media only screen and (min-width : 1200px) {
//     html {
//         font-size: 23px;
//         line-height: 33.6px;
//     }   
//     .wrap {
//         padding-right: 2rem;
//         padding-left: 2rem;
//         max-width: 1200px;
//         margin: 0 auto;
//     }
// }