$accent-color: #ff8000;

a {
	color: black;
	//text-decoration: none;
	transition: color ease-out 0.3s;
	&:visited {
	   color: black;
	}
	&:hover, &:focus {
		color: $accent-color;
		//text-decoration: underline;
	}
}

a.button, input[type=submit] {
	display: inline-block;
	background-color: $accent-color;
	color: white;
	border: none;
	border-radius: 3em;
	padding: .5em 1em;
	text-decoration: none;
	white-space: nowrap;
	&:focus {
		background-color: black;
	}
}

header nav a {
	color: black;
	text-decoration: none;
	transition: all ease-out 0.3s;
	padding: .5em 1em;
	border-radius: 3em;
	border: 1px white solid;
	//background-color: #eee;
	&:first-of-type {
		//background-color: #fee;
		margin-left: -1em;
	}
	&:visited {
	   color: black;
	}
	&:focus, &:hover {
		//color: $accent-color;
		border-color: $accent-color;
	}
	&.active {
		background-color: $accent-color;
		color: white;
		animation: grow 1.5s .25s 1;
		display: inline-block;
		margin-left: 0 !important;
		&:focus {
			background-color: black;
			border-color: black;
		}
	}
}

@keyframes grow {
  0%, 100%   { transform: scale(1);}
  60% { transform: scale(1.25);}
}

.error { color: $accent-color;}
input.error, textarea.error {
	border: 1px $accent-color solid !important;
}
:focus { 
	outline: $accent-color solid 1px; 
	transition: all ease-out 0.3s;
}
a:focus, input[type=submit] { outline: none;}
a:focus img { border: 1px $accent-color solid !important}

body:focus {
	outline: none;
}

@media only screen and (min-width : 1000px) {
	header nav a {
		margin-right: 1rem;
	}
}
