@import "variables";

.dark {
	background-color: $dark-section-color;
	color: white;
	h1, h2, h3, h4 {
		color: white;
	}
	a {
		color: white;
		text-decoration: underline;
		&:visited {
		   color: white;
		}
		&:hover {
			color: white;
		}
		&:focus {
			outline: 1px dotted white;
		}
	}
}


.many {
	text-align: center;
}

.meta {
	text-align: center;
}

.caption + div {
	margin-top: 2rem;
}

@media only screen and (min-width  : 760px) {
	.retina img {
		max-width: 320px;
	}
}

@media only screen and (min-width  : 800px) {
	.many {
		margin: 0 -5vw;
	}
}

@media only screen and (min-width : 1050px) {
	.many {
		margin: 0 -9vw;
	}
}

@media only screen and (min-width : 1200px) {
	.many {
		margin: 0 -14vw;
	}
}