@import "variables";
@import "forms";


input[type=text] {
	width: 5rem;
	margin-right: .5rem;
} 

#tip, #total {
    display: inline-block;
    width: 5.5rem;
}

.line {
    margin-bottom: .5rem;
}

#percent {
    padding-left: 2rem;
}

.border {
	border-top: 2px $border-color solid;
	padding-top: .5rem;
}

// $border-color: #b5b4b6;
// 
// input {
//     -webkit-appearance: none;
//     border: 1px $border-color solid;
//     border-radius: 0;
//     padding: 2px;
//     width: 5rem;
// }

// #tip, #total {
//     display: inline-block;
//     width: 5rem;
// }
// .label {
//     padding-left: .5rem;
// }
// .line {
//     margin-bottom: .5rem;
// }
