@import "variables";

html {
  //font-family: 'cooper_hewitt_book', sans-serif;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.388;
  color: $text-color;
  background-color: $bg-color;
}

@media only screen and ($breakpoint-xs) {
  html { font-size: 1.125rem;}
}

@media only screen and ($breakpoint-md) {
  html { font-size: 1.25rem;}
}

@media only screen and ($breakpoint-xl) {
  html { font-size: 1.375rem; }
}


h1, h2, h3, h4{
	//font-family: 'roboto_condensed_bold', sans-serif;
	//font-weight: normal;
	//line-height: 1.2;
	//margin-bottom: .75rem;
	color: $text-color-dark;
}


h1 {
	//font-size: 2.5em;
	line-height: 1.2;
	margin: 0 0 1rem;
}
h2 {
	//font-size: 1.555555555555556em;
	margin-top: 2.8rem;
	margin-bottom: 1rem;
}
h3 {
	margin-top: 2.2rem;
	margin-bottom: 1rem;
}
h4 {
	//font-size: 1.2rem;

}

.small-font { font-size: .8rem;}
.lite-font  { font-weight: 200;}

p {
	max-width: 33rem;
 	margin: 0 0 1em;
 }

strong, b, th, label, .calc, .cta .button {
	//font-family: 'cooper_hewitt_semibold', sans-serif;
	//font-weight: normal;
	font-weight: bold;
}
em, i {
	//font-family: 'cooper_hewitt_book_italic', sans-serif;
	//font-style: normal;
	font-style: italic;
}
.lite {color: $text-color-lite;}

a {
    color: $link-color;
    transition: all ease-out 0.3s;
    text-decoration: none;
    &:visited {
       color: $link-color-visited;
    }
    &:hover {
        color: $link-color;
        text-decoration: underline;
    }
    &:focus {
	    outline: none;
	    text-decoration: underline;
    }
}

h1, h2, h3 {
	a:visited {
	   //color: $link-color;
	}
}


h4.lite {
	//font-family: 'cooper_hewitt_light', sans-serif;
	//font-size: 70%;
	@extend .small-font;
	@extend .lite-font;
	text-transform: uppercase;
	color: $text-color-lite;
	margin-bottom: .25rem;
}

.meta {
	//font-family: 'cooper_hewitt_light', sans-serif;
	//font-size: .9rem;
	@extend .lite-font;
	max-width: none;
	//color: $text-color-lite;
}

ul.plain {
	margin: 0;
	padding: 0;
	list-style: none;
	//font-size: 90%;
	//line-height: 1.2rem;
	li {
		margin-bottom: .5rem;
	}
}

blockquote {
	//font-size: calc(1rem + 0.25vw);
	//font-family: 'cooper_hewitt_book_italic', sans-serif;
	font-size: 125%;
	font-weight: bold;
	font-style: italic;
	color: $text-color-lite;
	margin: .5rem;
}

.simple-quotes blockquote{
	float: none;
	width: auto;
}

@media only screen and (min-width : 500px) {
	blockquote {
		max-width: 33vw;
		float: right;
	}
}

pre {
	overflow: auto;
}


footer {
	//font-size: .8rem;
	a, a:visited, a:hover, a:focus {
		margin-right: .5rem;
		color: white;
	}
	a:focus {
		outline-color: white;
	}
}

.post {
	.top {
		text-align: center;
		h1, h2 { margin: 0 0 .3rem; }
		.subhead { color: $text-color-lite;}
		// .meta { margin: .5em 0; }
	}

	.text {
		p {
			margin-left: auto;
			margin-right: auto;
		}
		ul, ol {
			max-width: 33rem;
			margin: .75rem auto;
		}
		h1, h2, h3, h4 {
			//text-align: center;
			max-width: 33rem;
			margin-left: auto;
			margin-right: auto;
		}
		.caption {
			//font-family: 'cooper_hewitt_light', sans-serif;
			text-align: center;
			color: $text-color-lite;
			//font-size: .9rem;
		}
	}
	table {
		margin: 1rem auto;
		max-width: 33rem;
		border-collapse: collapse;
	}
	th { 
		text-align: left;
		background-color: #eee ;
	 }
	td, th { 
		padding: .25rem .75rem ;
		//font-size: 80%;
	}
	tr:nth-child(even) {
	  background: #eee;
	}
}

nav.next {
	// margin: 3rem 0 0;
	// border: 1px $border-color solid;
	border-left: none;
	border-right: none;
	// padding: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	span {
		flex: 1 1 ;
		display: flex;
		align-items: center;
	}
	span.prev {
		text-align: right;
		padding-left: 1rem;
		justify-content: flex-end;
		&::after {
			content: "≫";
			padding-left: .25rem;
		}
	}
	span.next {
		text-align: left;
		padding-right: 1rem;
		justify-content: flex-start;
		&::before {
			content: "≪";
			padding-right: .25rem;
		}
	}

}

.pitch {
	margin-top: 3rem;
	border: 1px $border-color solid;
	border-right: none;
	border-left: none;
	padding: .25rem 0;
	//font-size: 80%;
	text-align: center;
}


:focus {
	//outline: none;
	outline: 2px solid $link-color;
	outline-offset: 3px;
}

