@import "variables";

html {
  font-family: 'cooper_hewitt_book', sans-serif;
  font-size: calc(14px + 0.5vw);
  line-height: calc(1.2em + 0.5vw);
  color: $text-color;
  background-color: $bg-color;
}

h1, h2, h3, h4{
	font-family: 'roboto_condensed_bold', sans-serif;
	line-height: 1.2;
	//text-transform: uppercase;
	font-weight: normal;
	margin-bottom: .75rem;
	color: $text-color-dark;
}

h2, h3 h4 {
	margin-top: 1.5rem;
}

h1 {
	font-size: calc(20px + 2vw); 
	// text-transform: uppercase;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.2rem;

}


p {
	max-width: 33rem;
 	margin: .75rem 0;
 }

strong, b, th, label, .calc {
	font-family: 'cooper_hewitt_semibold', sans-serif;
	font-weight: normal;
}
em, i, blockquote {
	font-family: 'cooper_hewitt_book_italic', sans-serif;
	font-style: normal;
}
.lite {color: $text-color-lite;}

a {
    color: $link-color;
    transition: all ease-out 0.3s;
    text-decoration: none;
    &:visited {
       color: $link-color-visited;
    }
    &:hover {
        color: $link-color;
        text-decoration: underline;
    }
    &:focus {
	    outline: none;
	    text-decoration: underline;
    }
}

h1, h2, h3 {
	a:visited {
	   //color: $link-color;
	}
}

.meta {
	font-family: 'cooper_hewitt_light', sans-serif;
	font-size: .9rem;
	max-width: none;
	color: $text-color-lite;
}


blockquote {
	font-size: calc(1rem + 0.25vw);
	font-family: 'cooper_hewitt_book_italic', sans-serif;
	color: $text-color-lite;
	margin: .5rem;
}

.simple-quotes blockquote{
	float: none;
	width: auto;
}

@media only screen and (min-width : 500px) {
	blockquote {
		max-width: 33vw;
		float: right;
	}
}

pre {
	overflow: auto;
}


footer {
	font-size: .8rem;
	a, a:visited, a:hover, a:focus {
		margin: 0 .5rem;
		color: white;
	}
	a:focus {
		outline-color: white;
	}
}

.post {
	.top {
		text-align: center;
		//margin-bottom: 2rem;
		.subhead {
			color: $text-color-lite;
			margin-top: 0;
		}
	}
	// .meta {
	// 	font-family: 'cooper_hewitt_light', sans-serif;
	// 	font-size: .9rem;
	// 	max-width: none;
	// 	color: $text-color-lite;
	// }
	.text {
		// max-width: 33rem;
		// //padding: 0 3vw;
		// margin: 0 auto;
		p {
			margin: .75rem auto;
		}
		ul, ol {
			max-width: 33rem;
			margin: .75rem auto;
		}
		h1, h2, h3, h4 {
			text-align: center;
		}
		.caption {
			font-family: 'cooper_hewitt_light', sans-serif;
			text-align: center;
			color: $text-color-lite;
			font-size: .9rem;
		}
	}
	table {
		margin: 1rem auto;
		max-width: 33rem;
		border-collapse: collapse;
	}
	th { 
		text-align: left;
		background-color: #eee ;
	 }
	td, th { 
		padding: .25rem .75rem ;
		font-size: 80%;
	}
	tr:nth-child(even) {
	  background: #eee;
	}
}

nav.next {
	// margin: 3rem 0 0;
	// border: 1px $border-color solid;
	border-left: none;
	border-right: none;
	// padding: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	span {
		flex: 1 1 ;
		display: flex;
		align-items: center;
	}
	span.prev {
		text-align: right;
		padding-left: 1rem;
		justify-content: flex-end;
		&::after {
			content: "≫";
			padding-left: .25rem;
		}
	}
	span.next {
		text-align: left;
		padding-right: 1rem;
		justify-content: flex-start;
		&::before {
			content: "≪";
			padding-right: .25rem;
		}
	}

}

.pitch {
	margin-top: 3rem;
	border: 1px $border-color solid;
	border-right: none;
	border-left: none;
	padding: .25rem 0;
	font-size: 80%;
	text-align: center;
}


:focus {
	//outline: none;
	outline: 2px solid $link-color;
	outline-offset: 3px;
}

