@import "shared";
$border-color: #b5b4b6;

.title {margin-bottom: .75rem;}
.ux-img {
	margin-bottom: .1	25rem;
	img {
		max-width: 100%;
		margin: 0;
	}
}

.sub {
	font-size: 80%;
	display: block;
}

.ux.no-border {
	img {
		border: none;
	}
}

#more-images {
	margin-top: 4rem;
}


.ux .item {
	width: 100%;
	margin-bottom: 2rem;
	
	.ux-img {
		display: block;
		background-color: white;
	}

}

@media only screen and (min-width : 700px) {
	.hide-mobile { display: block;}
	
	iframe.hide-mobile {
		float: left;
		border: 1px $border-color solid;
		margin: 0 1rem 1rem 0;
	}
	
	
	.ux.index {
		display: flex;
		flex-wrap: wrap;
		
		.title {
			padding-left: 34%;
		}
		
		.item {
			display: flex;
			align-items: center;
		}
		.info {
			padding: 2rem;
		}
		.two-col .ux-img {
			width: 66%;
		}
		.one-col .ux-img {
			width: 34%;
		}
		
		.item {
			.ux-img {order: 2; }
			.info {
				text-align: right;
				width: 34%;
			}
		}
		
	}
}


@media only screen and (min-width : 1000px) {
	.ux {
		.text {
			margin-left: 265px;
			.meta {
				position: relative;
				left: -265px;
				top: 5px;
				width: 240px;
				margin: 0;
				height: 0;
				span {
					white-space: nowrap;
				}
			}
			.meta + p {
				color: $lite-text;
			}
		}
	}
	
	.ux.push .key {
		img {
			margin-left: 265px;
		}
	}
	.ux-img.large{
		margin-left: -265px;
	}
}