@import "shared";

.title {margin-bottom: .5rem;}
.meta {margin-bottom: 1rem;}
.ux-img {
	img {
		max-width: 100%;
		margin: 0;
	}
}

.meta {
	margin-bottom: .25rem;
}


.ux.no-border {
	img {
		border: none;
	}
}

img.push {
	margin-top: 1rem;
}

#more-images {
	margin-top: 4rem;
}

.ux nav.next {
	margin: 3rem 0 3rem;
	border: 1px #b5b4b6 solid;
	border-left: none;
	border-right: none;
	padding: 1rem 0;
}

@media only screen and (min-width : 700px) {
	.hide-mobile { display: block;}
	
	iframe.hide-mobile {
		float: left;
		border: 1px #b5b4b6 solid;
		margin: 0 1rem 1rem 0;
	}
}


@media only screen and (min-width : 1000px) {
	.ux {
		.text {
			margin-left: 265px;
		}
		.meta {
			position: relative;
			left: -265px;
			top: 5px;
			width: 240px;
			margin: 0;
			height: 0;
			span {
				white-space: nowrap;
			}
		}
		.meta + p {
			color: $lite-text;
		}
	}
	.ux.push .key {
		img {
			margin-left: 265px;
		}
	}
	.ux-img.large{
		margin-left: -265px;
	}

}