@import "shared";

.title {margin-bottom: .5rem;}
.meta {margin-bottom: 1rem;}
.ux-img {
	img {
		max-width: 100%;
		margin: 0;
	}
}

.meta {
	margin-bottom: .25rem;
}


.ux.no-border {
	img {
		border: none;
	}
}

img.push {
	margin-top: 1rem;
}

#more-images {
	margin-top: 4rem;
}


.ux .item {
	width: 100%;
	margin-bottom: 2rem;
	
	.ux-img {
		display: block;
		background-color: white;
		border: 1px #b5b4b6 solid;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: .5rem;
		//min-height: 7rem;
	}
	.tokens {
		background-image: url('/img/ux/tokens-index.png');
		padding-top: percentage(135 / 540);
		//background-size: 520px;
		background-position: center center;
	}
	.prototype {
		background-image: url('/img/ux/brewery-prototype.png');
		padding-top: percentage(365 / 370);
	}
	.nationwide {
		background-image: url('/img/ux/nationwide-index.jpg');
		padding-top: percentage(381 / 883 );
	}
	.workbench {
		background-image: url('/img/ux/workbench-index.png');
		padding-top: percentage(514 / 358 );
	}
	.physician {
		background-image: url('/img/ux/physician-index.jpg');
		padding-top: percentage(568 / 980 );
	}
	.details {
		background-image: url('/img/ux/details-teaser.png');
		padding-top: percentage(300 / 700 );
	}
	.pins {
		background-image: url('/img/ux/pin-menu-index.png');
		padding-top: percentage(365 / 365 );
	}
	.labs {
		background-image: url('/img/ux/labs-teaser-large.jpg');
		padding-top: percentage(480 / 1400 );
	}
}

@media only screen and (min-width : 700px) {
	.hide-mobile { display: block;}
	
	iframe.hide-mobile {
		float: left;
		border: 1px #b5b4b6 solid;
		margin: 0 1rem 1rem 0;
	}
	
	.ux.index {
		overflow: auto;

		.item {
			//float: left;
			//display: inline-block;
		}
		.two-col {
			float: left;
			width: 63%;
			margin-right: 3%;
			//clear: left;
		}
		.one-col {
			float: right;
			clear: right;
			width: 33%;
		}
	}
}


@media only screen and (min-width : 1000px) {
	.ux {
		.text {
			margin-left: 265px;
		}
		.meta {
			position: relative;
			left: -265px;
			top: 5px;
			width: 240px;
			margin: 0;
			height: 0;
			span {
				white-space: nowrap;
			}
		}
		.meta + p {
			color: $lite-text;
		}
	}
	.ux.push .key {
		img {
			margin-left: 265px;
		}
	}
	.ux-img.large{
		margin-left: -265px;
	}

}