$text-color: #333;
$text-color-lite:#666;
$text-color-dark:#000;
$dark-section-color: #0A6161;
$bg-color: #fff;
$bg-color-footer: $dark-section-color;
$main-color: #FF8000;
$main-color-border: #FF9933;
$link-color: #0F9595;
// $link-color-visited: #0A6161;
$link-color-visited: #730069;
$border-color: #ccc;

$small-text-size: .85rem;


// breakpoints
$breakpoint-sm: "min-width: 40em";
$breakpoint-md: "min-width: 52em";
$breakpoint-lg: "min-width: 64em";