$text-color: #333;
// $text-color: #f00;
$text-color-lite:#666;
$text-color-dark:#000;
$bg-color: #fff;
$bg-color-footer: #999;
$dark-section-color: #0A6161;
$main-color: #FF8000;
$main-color-border: #FF9933;
// green
// $link-color: #0E8E79;
// $link-color-visited: #005C4C;
// purple
// $link-color: #841A7B;
// $link-color-visited: #4F0048;
// teal
$link-color: #0F9595;
// $link-color-visited: #0A6161;
$link-color-visited: #730069;


$border-color: #ccc;

$small-text-size: .85rem;