$text-color: #333;
$text-color-lite:#999;
$text-color-dark:#222;
$dark-section-color: #0A6161;
$bg-color: #fff;
$bg-color-footer: $dark-section-color;
$main-color: #FF8000;
$main-color-border: #FF9933;
$link-color: #0F9595;
// $link-color-visited: #0A6161;
$link-color-visited: #730069;
$border-color: #ccc;

$small-text-size: .85rem;

// breakpoints
$breakpoint-xs: "min-width: 40em"; // 640px 
$breakpoint-sm: "min-width: 52em"; // 832px
$breakpoint-md: "min-width: 64em"; // 1024px
$breakpoint-lg: "min-width: 80em"; // 1280px
$breakpoint-xl: "min-width: 90em"; // 1440px
