@import "variables";
@import "flex";

.post .text{
	
	h1 {
		//font-size: 3rem;
		text-align: left;
	}
}

.popular ul, .archive ul {
	margin: 0;
	padding: 0;
	list-style: none;
	//font-size: 90%;
	line-height: 1.2rem;
	li {
		margin-bottom: .5rem;
	}
}


@media only screen and (min-width: $breakpoint-sm) {
	.popular {
		margin-left: 2rem;
	}
}
