---
layout: default
class: portfolio
css-include: 
   - porfolio.css
   - flex.css
---

{{ content }}

<div class="wrap">
	<h4 class="lite">More Projects</h4>
	<div class="sm-flex justify-between">
		<div class="">
			<a href="/ux-design/oil-and-gas-search/">Oil &amp; Gas Search Application</a>
			<a href="/ux-design/nationwide-locator/">Nationwide Locator</a>
		</div>
		<div class="">
			<a href="/ux-design/empower-retirement/">Empower Retirement</a>
			<a href="/ux-design/map-pins/">Map Pin Interaction</a>
		</div>
		<div class="">
			<a href="/ux-design/physician-locator/">Physician Locator</a>
			<a href="/ux-design/workbench/">Placeable Workbench</a>
		</div>
	</div>
</div>
