---
layout: default
links:
  - tokens: "Tokens"
  - nationwide-locator: "Nationwide Locator"
  - workbench: "Placeable Workbench"
  - search-prototype: "Search Prototype"
  - physician-locator: "Physician Locator"
  - map-pins: "Pin Menu"
  - yellow-page-details: "Sparse Details Pages"
  - labs: "Labs Work"

---
<section class="ux {{page.class}}">
	{% if page.key-image %}
	<div class="ux-img key">
		<img src="/img/ux/{{page.key-image}}">
	</div>
	{% endif %}
	<div class="text">
		
		<h1>{{page.title}}</h1>
		<div class="meta">
		{{page.project-info}}
		</div>

		{{ content }}
	</div>
	
	{% if page.additional-images %}
	<div class="text" id="more-images">
		<div class="title">Additional Images</div>
	</div>
	<div class="ux-img">
		{% for file in page.additional-images %}
		<img src="/img/ux/{{file}}">
		{% endfor %}
	</div>
	{% endif %}
	
	{% comment %} 
<!-- 	Not sure if this code is a hack, but it works
		
		using the array 'links' defined in the front matter of this file
		this code figures out the position in the array of the current page
		then gets the previous and next links -->
	{% endcomment %}	
	{% assign current-file = page.url | remove: "/ux-design/"  %}
	
	{% for link_hash in layout.links %}
	  	{% assign outer-loop = forloop.index0   %}
		{% for link in link_hash %}
			{% if link[0] == current-file %}
				{% assign position = outer-loop  %}
			{% endif %}
	  	{% endfor %}
	{% endfor %}
	
	{% assign count = layout.links | size %}	
	{% assign prev = position | minus: 1  %}
	{% assign next = position | plus: 1  %}	
	{% if next == count %}
		{% assign next = 0  %}
	{% endif %}
	<nav class="next">
		{% for link in layout.links[prev] %}
			<span class="next"><a href="{{link[0]}}">{{link[1]}}</a></span>
		{% endfor %}
		{% for link in layout.links[next] %}
			<span class="prev"><a href="{{link[0]}}">{{link[1]}}</a></span>
		{% endfor %}
	</nav>
</section>